@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
}

button {
    padding: 10px 10px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #6b6054;
    color: red;
    font-family: "Merriweather", sans-serif;
}

header {
    height: calc(70vh - 150px);
    background: repeat center/cover url("assets/mountains.webp");
}

header nav {
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    /* display deixa a palavra de lado*/
    display: flex;
}

header nav ul li {
    margin: 0px 15px;
}

.header-contet {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.header-contet h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.pacotes {
    background: #fffdf9;
    padding: 15px;
}

.pacotes .pacote-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotetitle {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: cornflowerblue;
    border-radius: 16px 0;
    margin: 25px auto;
    position: relative;
    justify-content: center;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.pacotes .card-content {
    padding: 0 15px;
    font-weight: 800rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: #051012;
    font-weight: bolder;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-promo {
    position: absolute;
    right: 0;
    top: 15px;
    background: #45a8a6;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-valor {
    position: absolute;
    left: 0;
    top: 160px;
    background: #f06543;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.servico {
    padding: 15px;
}

.servico .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servico .card .sgv {
    width: 60px;
    height: 60px;
}


/* responsividade */


/* tablet*/

@media (max-width: 767px) {}


/* Celular*/

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background: red;
        color: white;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;

    }
}




